<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/theme.min.css}" />

    <title>To-do List</title>
</head>

<body>

    <div th:if="${param.error}">
        <div class="alert alert-danger">
            Wrong username or password!
        </div>
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-info">
            You have been logged out.
        </div>
    </div>
    <section class="container mt-5">
        <h1>Simple To-Do List</h1>
    </section>
    <section class="container mt-5">
        <div class="row">
            <div class="col-auto">
                <div class="card border-primary h-100 pr-5">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h2 class="card-title text-primary">Register</h2>
                        <form th:action="@{/auth/register}" method="post">
                            <div class="form-row">
                                <div class="col mb-3">
                                    <label for="first_name">First name</label>
                                    <input type="text" id="first_name" name="first_name" class="form-control"
                                        placeholder="First name" />
                                </div>
                                <div class="col mb-3">
                                    <label for="lat_name">Last name</label>
                                    <input type="text" id="last_name" name="last_name" class="form-control"
                                        placeholder="Last name" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-auto mb-3">
                                    <label for="username">Email</label>
                                    <input type="text" id="username" name="username" class="form-control"
                                        placeholder="example@email.com" required />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col mb-3">
                                    <label for="password">Password</label>:
                                    <input type="password" id="password" name="password" class="form-control"
                                        placeholder="Password" required />
                                </div>
                                <div class="col mb-3">
                                    <label for="confirm_password">Confirm password</label>
                                    <input type="password" id="confirm_password" name="confirm_password"
                                        class="form-control" placeholder="Retype password" required />
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-outline-light">Register</button>
                                </div>
                                <div class="col-auto">
                                    <span>Already have an account? <a href="/auth/login" class="text-primary"
                                            th:href="@{/auth/login}">Login
                                            here</a></span>
                                </div>
                            </div>
                    </div>
                    </form>

                </div>
            </div>
        </div>
        </div>
    </section>

</body>

</html>