<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/theme.min.css}" />

    <title>To-do List</title>
</head>

<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" id="navbar">
    <div class="container">
        <a class="navbar-brand mr-1 mb-1 mt-0" href="../">Simple To-Do List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="layoutDd" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Lists
                    </a>
                    <div class="dropdown-menu" aria-labelledby="layoutDd" th:object="${taskLists}">
                        <a class="dropdown-item px-2"
                           th:each="list : ${taskLists}"
                           th:text="${list.name}"
                           th:href="'/lists/' + ${list.id}"></a>
                        <div class="dropdown-divider"></div>
                        <form th:action="@{/lists}" th:object="${newList}" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" id="newList" name="newList" th:field="*{name}"
                                           class="form-control" placeholder="New List" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-light rounded-right" type="button">+</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDd" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDd">
                        <a class="dropdown-item px-2" href="/account/profile">My Profile</a>
                        <a class="dropdown-item px-2" href="/account/settings">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item px-2" href="/auth/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section id="modals" class="container mt-5 pb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="position-relative" style="z-index:1000">
                    <div id="myModal" class="modal d-block position-relative copyable" tabIndex="-1" role="dialog"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <form th:object="${task}" method="post">
                                    <div class="modal-header">
                                        <h3 class="text-primary" th:text="${task.task}">Task</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-row">
                                            <div class="col mb-3">
                                                <input type="text" id="task" name="task" class="form-control"
                                                       placeholder="First name" th:field="*{task}"/>
                                            </div>
                                        </div>
                                        <div class="form-row" >
                                            <div class="col mb-3">
                                                <textarea class="form-control" th:field="*{details}" placeholder="Enter details here..." id="details" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-outline-light">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script th:src="|/js/jquery-3.4.1.min.js|"></script>
<script th:src="|/js/bootstrap.min.js|"></script>

</body>

</html>